################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SokobanSolver/obj/Debug/SokobanSolver.csproj.CoreCompileInputs.cache
